$primary: teal;
$secondary: green;
$body-bg:#FBFAF5;

body {
  background-color: $body-bg !important;
  font-family: 'Calibri' !important;
  //font-size: calc(.5em + 1vw) !important;
}
a {
  color: #dc3545;
}



// change the theme
$white: #ffffff;
$primary:  #0f12a9;
$hover-color:  #171ad1;
$dark: #393f4c;
$light: #f6f8fe;
$secondary: #6d717c;
$secondarylight: #cbd2e5;
$header-height: 3rem;
$nav-width: 68px;
$normal-font-size: 1rem;
$z-fixed: 100;
$font-family: 'Lato';
$disabled-color: #f5a7c8;
$danger: #ff4136;
$border-inside: var(--border-inside, rgba(0, 0, 0, 0.16));
$shadow-inner: rgba(0, 0, 0, 0.15);
$foreground-disabled: var(--foreground-disabled, rgba(#161616, 0.16));
$foreground-disabled-for-editors: var(--foreground-disabled, rgba(#161616, 0.25));
$primary-foreground: var(--primary-foreground, #fff);
$primary-foreground-disabled: var(--primary-foreground-disabled, rgba(#fff, 0.25));
$background:#fff;

.sd-item__control:focus+.sd-item__decorator,
.sd-item--allowhover .sd-selectbase__label:hover .sd-item__decorator {
  box-shadow: 0 0 0 2px $primary;
  outline: none;
}

.sd-item--checked .sd-item__decorator {
  background: $primary;
}

.sd-rating__item--selected {
  background-color: var(--primary, #0f12a9);
  border-color: var(--primary, #0f12a9);
  color: var(--primary-foreground, #fff);
}

.sd-rating__item:focus-within {
  border-color: $primary;
}
.sd-rating__item--selected:focus-within {
  box-shadow: inset 0 0 0 2px $primary;
}
.sd-input:focus {
  box-shadow: 0 0 0 2px $primary, inset 0px 1px 2px $border-inside;
}
.sd-input.sd-dropdown:focus-within {
  box-shadow: 0 0 0 2px $primary, inset 0px 1px 2px $border-inside;
}

.sd-list__item--selected {
  &:hover,
  &:focus {
    .sd-list__item-body {
      background-color: $primary;
      color: $primary-foreground;
    }
  }
}

.sd-btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: calcSize(2) calcSize(6);
  background: #fff;
  box-shadow: 0px 1px 2px $shadow-inner;
  border-radius: calcSize(0.5);
  cursor: pointer;

  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: calcSize(2);
  line-height: calcSize(3);
  text-align: center;
  color: $primary;
  border: 2px solid transparent;
  outline: none;
}
.sd-btn:not(:disabled) {
  &:hover, &:focus {
    box-shadow: 0 0 0 2px $primary; 
  }
}

.sd-btn:disabled {
  color: $foreground-disabled;
  cursor: default;
}

.sd-btn--action {
  background-color: $primary;
  color: $primary-foreground;
}
.sd-btn--action:not(:disabled) {
  &:hover, &:focus {
    color: $primary;
    background-color: $background;
  }
}

.sd-btn--action:disabled {
  color: $primary-foreground-disabled;
}
.sd-page{
  padding: 0%;
}

.sd-body__navigation.sd-action-bar {
  padding-left: 0;
  padding-right: 0;
}

.sd-action-bar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.sd-navigation__complete-btn{
  content:"Next";
}

$theme-colors: (
    "light":      $light,
    "dark":       $dark,
    "primary":    $primary,
    "secondary":  $secondary,
    "info":       #4177b6,
    "danger": #dc3545
);
.h1{
  @extend .h1;
  color: #0f12a9 !important;
}

.h4{
  @extend .h4;
  color: #0f12a9 !important;
}

h1{
  color: #0f12a9 !important;
}
.navbar{
    @extend .navbar;
    background-color:#000 !important;
    color:#fff;
    height: 100vh;
    width: 70px;
    align-items: center;
}

.nav-link{
    @extend .nav-link;
    display: flex !important;
    color: #fff !important;
    padding: 10px 15px !important;
    transition: all 0.5s !important;
    flex-direction: column;
    align-items: center;
}

.nav-link:hover{
    @extend .nav-link, :hover;
    background: $hover-color;
    color: #000;
    transition: all 0.5s;
}

.navbar-brand{
    @extend .navbar-brand;
    font-size: 14px !important;
    color: #fff !important;
    display: flex !important;
    align-items: center !important;
    margin: 0 !important;
    padding-bottom:2rem !important;
}

.navbar-collapse{
    @extend .navbar-collapse;
    flex-grow: 0 !important;
}

.main_container_layout{
    @extend .container-fluid;
    //background-color: aqua !important;
    padding: 0px !important;
    display: flex !important;
    flex-direction: row !important;
}

.content_container_layout{
    @extend .container-fluid;
    //background-color: rgb(255, 255, 255) !important;
    padding: 0px !important;
}

.top_bar{
    @extend .navbar;
    height: 30px !important;
    width:calc(100vw) !important;
    background-color: #000 !important;
    padding:1.5rem !important;
    color: #fff !important;
    justify-content: space-between !important;
  }

  .navbar-text{
    @extend .navbar-text;
    color:#fff !important;
  }
  .top_bar_container{
    @extend .row;
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
    margin: 0 !important;
  }


  .title-main{
    //color: $hover-color !important;
    font-size: 52px !important;
    font-weight: bold !important;
    text-align: left !important;
  }

  .text-icon{
    font-size: 10px !important;
  }

  .card-title{
    font-weight: bold !important;
    padding-bottom: 1rem !important;
    font-size: 1.2rem !important;
    //padding-top: 1.5rem!important;
    //padding-left: 1rem;
  }

  .main_container{
    min-width: 90% !important;
  }

  .card-thanks{
    padding: 1rem !important;
    border: none !important;
    border-radius: 0% !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  .ThanksIcon{
    font-size: 6rem;
    align-items: center !important;
    color: #0f12a9 !important
  }

  .btn-secondary{
    @extend .btn-secondary;
    --bs-btn-hover-bg:#0f12a9 !important;
  }

.btn-primary {
    @extend .btn-primary;
    --bs-btn-bg: #0f12a9 !important;
    --bs-btn-border-color: #0f12a9 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #171ad1 !important;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0f12a9 !important;
    --bs-btn-disabled-border-color: #0f12a9 !important;
}

.sv-components-row{
  background-color: transparent !important;
}

.sd-root-modern{
  background-color: transparent !important;
}
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';