

#surveyElement {
    --primary: #1924b3;
    --background: #ffffff;
    --background-dim: #5e0d0d00;
    --background-dim-light: #ffffff;
    --primary-foreground: #ffffff;
    --foreground: #161616;
    --base-unit: 7px;
    /* Paste variables here */
  }

  #surveyElement .sv-title {
    font-family: "Lato";
    /*font-weight: 300;*/
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.sd-body.sd-body--static {
  max-width: inherit;
  margin-left: auto;
  margin-right: auto;
}

.sd-btn{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-family: Lato;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px !important;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #fff;
    background-color: #0d47a1;
    /*box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);*/
    margin-right: 1rem;
}

.sv_main.sv_default_css .sv_custom_header {
  background-color: #e7e7e700;
}

.sv_main .sv-action-bar {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: auto;
  padding: 16px 0 0 16px;
  overflow: hidden;
  white-space: nowrap;
  justify-content: flex-end;
}

.sv_body .sv_body--responsive1{
  --header-background-color: #e7e7e7;
  --body-container-background-color: #f4f4f4;
  --main-color: #0f12a9;
  --main-hover-color: #393f4c;
  --body-background-color: white;
  --inputs-background-color: white;
  --text-color: #6d7072;
  --text-input-color: #6d7072;
  --header-color: #6d7072;
  --border-color: #e7e7e7;
  --error-color: #ed5565;
  --error-background-color: #fcdfe2;
  --progress-text-color: #9d9d9d;
  --disable-color: #dbdbdb;
  --disabled-label-color: rgba(64, 64, 64, 0.5);
  --slider-color: white;
  --disabled-switch-color: #9f9f9f;
  --disabled-slider-color: #cfcfcf;
  --foreground-light: #909090;
  --foreground-disabled: #161616;
  --background-dim: #f3f3f3;
  --progress-buttons-color: #8dd9ca;
  --progress-buttons-line-color: #d4d4d4;
}

  
