#main_topbar{
  position: absolute;
  left: 60px;
  width:calc(100vw - 60px);
}
.top_bar_controls{
  background-color: #f0efef !important;
  justify-content: space-between;
}

.top_bar_controls .navbar-text{
  padding-left: 10px;
}
